.modal-page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #70bff3b8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .modal-page {
        width: 400px;
        height: 450px;
        padding: 30px;
        border-radius: 10px;
        background: white;
        display: flex;
        flex-direction: column;

        p {
            text-align: center;
            font-weight: bold;
        }

        
        input {
            margin-bottom: 10px;
            border-radius: 5px;
            height: 3rem;
        }
        .buttons {
            display: flex;
            justify-content: space-around;
        }
    }

}
.none {
    display: none;
}