.video-card {
    width: max-content;
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.video-span {
    max-width: 300px;
    font-weight: bold;
}
.views-span {
    color: darkgray;
}