.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .formWidth {
        width: 335px;
    }
    .center {
        display: block;
        margin: 0 auto;
    }
}
