.header-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}
.header-content-left, .header-content-right {
    width: max-width;

}
.img-width {
    width: 48px;
}