.search-ib {
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.videolist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.none {
    flex-direction: column;
    align-items: center;

}
.top-row {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
.left-icon {
    margin-right: 10px;
}